.newblogIntroduction{
  font-family: "Droid Serif",cursive;
  font-size : 30px;
}

.newblogDesc{
  font-family: "Droid Serif", cursive;
  font-size: 17px;
}

.errorDisplay{
  font-family: "Droid Serif", cursive;
  font-size : 30px;
}

.displayButtonCreate{
  height: auto;
  width: 350px;
  margin-left: -10px;
  background: midnightblue;
}

.displayButtonDelete{
  height: auto;
  width: 350px;
  margin-left: -10px;
}

.category{
  margin-left: 4px;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948;
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442;
}
