<div style="margin-top:25px" class="container row">
  <div class="col s12 ">
     <div class="card yellow lighten-5">
       <div class="card-content ">
         <div class="row">
           <form #newBlogForm="ngForm" class="col s12">
             <div class="row">
               <div class="input-field col s12">
                 <input name="blogHeadingTitle" placeholder="Enter Blog Title Here" id="blogHeadTitle" type="text" minlength="5" maxlength="30" required  #blogHeadingTitle="ngModel" [(ngModel)]="blogTitle">
               </div>
               <div *ngIf="blogHeadingTitle.errors && (blogHeadingTitle.dirty || blogHeadingTitle.touched)" class="alert alert-danger">
                 <div [hidden]="!blogHeadingTitle.errors.required">
                    Blog Title is required!
                  </div>
                  <div [hidden]="!blogHeadingTitle.errors.minlength">
                    Title must be at least 5 characters long.
                  </div>
                  <div [hidden]="!blogHeadingTitle.errors.maxlength">
                    Title cannot be more than 30 characters long.
                  </div>
                </div>
               <div class="input-field col s12">
                 <textarea style="padding-bottom:0px" name="blogDesc" placeholder="Enter Blog Content Here" minlength="10" required id="blog_content" class="materialize-textarea" #blogDesc="ngModel" [(ngModel)]="blogContent"></textarea>
               </div>
               <div *ngIf="blogDesc.errors && (blogDesc.dirty || blogDesc.touched)" class="alert alert-danger">
                 <div [hidden]="!blogDesc.errors.required">
                    Blog Content is required!
                  </div>
                  <div [hidden]="!blogDesc.errors.minlength">
                    Blog Content must be at least 10 characters long.
                  </div>
                </div>
             </div>
               <div class="row category">
                   <p style="color: darkcyan; margin-bottom: 18px; font-family: 'Lucida Sans'; font-size: large">Select Category for Your Blog</p>
                   <p><input name="blogTag" value="Sports" type="radio" id="test1" required #blogTag="ngModel" [(ngModel)]="blogCategory"/><label for="test1"><span style="color: darkslategray; font-family: 'High Tower Text';font-size: larger ;font-weight: bold">Sports</span></label></p>
                   <p><input name="blogTag" value="Technology" type="radio" id="test2" required #blogTag="ngModel" [(ngModel)]="blogCategory" /><label for="test2"><span style="color: darkslategray; font-family: 'High Tower Text';font-size: larger ;font-weight: bold">Technology</span></label></p>
                   <p><input name="blogTag" value="Science" type="radio" id="test3" required #blogTag="ngModel" [(ngModel)]="blogCategory" /><label for="test3"><span style="color: darkslategray; font-family: 'High Tower Text';font-size: larger ;font-weight: bold">Science</span></label></p>
                   <p><input name="blogTag" value="Comics" type="radio" id="test4" required #blogTag="ngModel" [(ngModel)]="blogCategory" /><label for="test4"><span style="color: darkslategray; font-family: 'High Tower Text';font-size: larger ;font-weight: bold">Comics</span></label></p>
               </div>
             <div *ngIf="blogTag.errors">
               <div [hidden]="!blogTag.errors.required">
                  Please Mention Category!
                </div>
             </div>
             <br>
           </form>
           <div class="row center">
           <button class=" btn displayButtonCreate" [disabled]="!newBlogForm.form.valid" (click)="createNewPost(blogTitle,blogContent,blogCategory)">
             <i class="material-icons middle">done</i>Yes,Create My Blog</button>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
